@import '@/assets/design-tokens.css';

.poc-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: var(--body-weight-medium);
  font-weight: 700;
  border: 0;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: var(--button-padding-y-md) var(--button-padding-x-md);
}
.poc-button--primary {
  color: var(--text-invert);
  background-color: var(--button-primary-default);
}
.poc-button--primary:hover {
  background-color: var(--button-primary-hover);
}
.poc-button--primary:active {
  background-color: var(--button-primary-pressed);
}
.poc-button--secondary {
  color: var(--text-primary);
  background-color: var(--button-secondary-default);
}
.poc-button--secondary:hover {
  background-color: var(--button-secondary-hover);
}
.poc-button--secondary:active {
  background-color: var(--button-secondary-pressed);
}
.poc-button--tertiary {
  color: var(--text-primary);
  background-color: var(--button-tertiary-default);
}
.poc-button--tertiary:hover {
  background-color: var(--button-tertiary-hover);
}
.poc-button--tertiary:active {
  background-color: var(--button-tertiary-pressed);
}
.poc-button--danger {
  color: var(--text-invert);
  background-color: var(--button-danger-default);
}
.poc-button--danger:hover {
  background-color: var(--button-danger-hover);
}
.poc-button--danger:active {
  background-color: var(--button-danger-pressed);
}
.poc-button--large {
  padding: var(--button-padding-y-lg) var(--button-padding-x-lg);
}
.poc-button--small {
  padding: var(--button-padding-y-sm) var(--button-padding-x-sm);
}
.poc-button:disabled {
  color: var(--text-disabled);
  background-color: var(--button-disabled);
  cursor: not-allowed;
  pointer-events: all !important;
}
